/*basic settings*/
html {
    background-color: white;
    color: black;
}

/*media query to hide picture button on small screens*/
@media screen and (max-width: 575px) {
#imageButton {
    visibility: hidden;
}
}