/*basic settings*/
html {
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*media query to hide picture button on small screens*/
@media screen and (max-width: 575px) {
#imageButton {
    visibility: hidden;
}
}